# Streamlit for UI

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
streamlit
faiss-cpu
transformers
sentence-transformers
accelerate
huggingface-hub
python-dotenv


